<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>ConvoCraft</title>
</head>
<body>
	<video autoplay muted loop id="myVideo">
		<source src="static/images/src/bgeffect.mp4" type="video/mp4">
	  </video>
	<div class="container" id="container">
		
		<div class="form-container log-in-container">
			<form action="index.html">
				<h1>Login</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fa fa-facebook fa-2x"></i></a>
					<a href="#" class="social"><i class="fab fa fa-google fa-2x"></i></a>
				</div>
				<span>or use your account</span>
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<a href="#">Forgot your password?</a>
				<button>Log In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<img class="title" src="static/images/src/title.png" alt="">
				</div>
			</div>
		</div>
	</div>
</body>
</html>